/node_modules
/public/hot
/public/build
/public/storage
/public/js
/public/css
/public/img/social
/public/mix-manifest.json
/storage/*.key
/storage/forms/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
users/*
public/assets
/content/collections/*/
/content/trees/*/
/.phpunit.cache
